<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->
<!-- <ul style="width: 19%;float: left">
  <li *ngFor="let line of lines">{{line.name}} {{line.description}}</li>
</ul> -->
<!-- <div id="map" #gmap style="width:75%;height:400px; float:right"></div> -->
<!-- <button (click)="Refresh()">Manual Refresh</button> -->
<!-- <label>Autorefresh<input type="checkbox" (click)="EnableAutoRefresh()"></label> -->

<div class="radar-page">
  <div class="container pt-3">
    <div class="row">
      <div class="col text-center">
        <h1>
          Welcome to <span class="extra-size"><b>{{title}} </b></span> {{titleExtra}}!
        </h1>
        <p>Ckeck all the bus lines availables at Tampere</p>
      </div>
    </div>
    <!--he metido esto para que salga un spinner mientras este cargando.... y que se oculte cuando carge-->
    <div class="row" hidden>
      <div class="col-12 text-center spinner">
        <div class="loading">
          <!--si te parece que no es optimo el spinner-1 que es pacman, cambialo por spinner-2-->
          <img src="src/assets/img/spinner-2.gif" />
        </div>
      </div>
    </div>
    <!--que se muestre u oculte hasta que cargue-->
    <div>
      <div class="row">
        <div class="col">
          <div id="map" class="map-img" #gmap>
          </div>
        </div>
      </div>
      <div class="row mt-3 pr-3 d-flex align-items-center justify-content-end">
        <button class="btn btn-primary mr-3" (click)="Refresh()">
          Manual Refresh
        </button>
        <div class="form-check d-flex align-items-center" (click)="EnableAutoRefresh()">
          <input class="form-check-input mt-0" type="checkbox" value="" id="refresh-box">
          <label class="form-check-label" for="refresh-box">
            Autorefresh
          </label>
        </div>
      </div>
      <ng-template ngFor let-line let-i="index" [ngForOf]="lines">
        <div class="row mt-3" *ngIf="i%2 != 0">
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <b>{{line.name}} </b> {{line.description}}
              </div>
            </div>
          </div>
          <div class="col-6" *ngIf="lines[i+1]">
            <div class="card">
              <div class="card-body">
                <b>{{line.name}} </b> {{line.description}}
              </div>
            </div>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</div>
